@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

body{
    font-family: 'Outfit';
    background-color:hsl(217, 54%, 11%);
}

section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*.box-1{
    margin:auto;
    left:50%;
    top:50%;
    width:400px;
    padding: 20px;
    border-radius: 20px;
    background-color: hsl(217,65%, 11%);
}

.box-2{
    padding: 0px 20px 30px 20px;
    background-color: hsl(217, 54%, 11%);
    border-radius: 20px;
}*/

.box-3 {
    width: 300px;
    box-shadow: 0px 10px 20px 10px hsl(215, 26%, 18%);
    padding: 20px;
    background-color: hsl(215, 32%, 27%);
    border-radius: 20px;
}


.image-center>img{
    width: 100%;
    border-radius: 20px;
}

.title1{
    color:white;
}

.subtitle{
    color: hsl(215, 51%, 70%);
}

hr{
    border-color: hsl(215, 51%, 70%);
}

.columns-text{
    display: flex;
    padding:8px;
}

.columns-text1{
    width: 50%;    
}

.columns-text1>img{
    margin-right: 8px;
    align-items: center;
}

.text-money{
    color:hsl(178, 100%, 50%);
}

.text-time{
    color: hsl(215,51%,70%);
}

.avatar-text{
    padding-top:10px;
}

.avatar-text>img{
    width:25px;
    border-radius: 50%;
    border:2px solid white;
    margin-right: 10px;
    vertical-align: middle;
}

.text-footer1{
    color: hsl(215,51%,70%);
}

.text-footer2{
    color: white;
}